[Unit]
Description=swaybg-hourly service timer

[Timer]
OnBootSec=0min
OnCalendar=*-*-* *:00:00
Unit=swaybg-hourly.service
Persistent=true

[Install]
WantedBy=multi-user.target

